* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.App {
  background-color: #0d1520;
  height: 100vh;
}

.big-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 1em;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #004074;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}
.container2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #562800;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.number {
  font-size: 3em;
  text-align: center;
  padding: 1em;
}

.buttons {
  display: flex;
  gap: 1em;
}

button {
  margin: 3em 0;
  width: 3em;
  color: white;
  background-color: #0d1520;
  border: 1px solid #70b8ff;
  padding: 3px 10px;
  border-radius: 2px;
}

button:active {
  margin: 3em 0;
  width: 3em;
  color: white;
  background-color: #70b8ff;
  border: 1px solid #004074;
  padding: 3px 10px;
  border-radius: 2px;
}

.add {
  color: white;
  text-align: center;
  font-size: 100px;
}
